<h1>Task List</h1>

<!-- Display error message if it exists -->
<div *ngIf="(error$ | async) as error" class="error-message">
  <p *ngIf="error">{{ error }}</p>
</div>

<mat-list  *ngFor="let task of tasks$ | async">
      <mat-checkbox
        [checked]="task.is_completed"
        (change)="toggleCompletion(task)"
        >
        {{ task.title }} | {{ task.deadline}}
      </mat-checkbox>
  <mat-list-item [innerHTML]="convertToHtml(task.description)"></mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
